*, *::before, *::after {
  box-sizing: border-box;
}


body{
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  color:#333333;;
  background-color: #FFFFFF;; 
}


a {
  text-decoration: none;
  color: inherit; 
}


ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}   

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-links {
  display: flex;

}

.main-navigation-link {
  line-height: 26px;
  padding: 15px;
  display: block;
  text-align: center;

}


.main-navigation-item {
  width: 20%;
}

.main-navigation-item:nth-child(2) {
margin-right: auto;

}

.hero {
  background-image: url(img/background-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #427b9e;
}

.hero img {
 display: block; 
 margin: 0 auto;
 padding-top: 85px;
 padding-bottom: 85px;
 max-height: 600px;
 width: 100%;
}

.advantages {
  padding-top: 98px;
}

.advantages-title {
  font-size: 21px;
  width: 40%;
  display: block; 
  margin: 0 auto;
  text-align: center;
  margin-bottom: 42px;
  
}

.section-text {
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap
}

.advantages-item {
  display: flex;

}

.reverse {
  flex-direction: row-reverse;
  order: -2;
}

.main-advantage {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.reason {
  font-size: 21px;
  text-align: center;
  display: block; 
  margin: 0 auto;
}


.comment {
  font-weight: normal;
  text-align: center;
}

.number {
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 23px;
  display: block;
  text-align: center;

}

.priveleges {
  order: -1;
}

.grey {
  background-color:#EEEEEE;;
}

.plus-item {
  width: 30%;
  flex-grow: 1;
  padding: 40px 80px;

}

.plus-item::last-child {
  margin: 0;
}


.advantages-image {
  width: 60%;
  flex-grow: 2;
}

.light {
  display: flex;
}

.privilege-item {
  width: 30%;
  flex-grow: 1;
  padding: 60px 70px; 
}

.privilege::before {
  content:"";
  width: 75px;
  height: 80px;
  background-color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px
}

.privilege.house::before {
  background-image: url(img/house.svg);
  background-repeat: no-repeat;
}

.privilege.food::before {
  background-image: url(img/food.svg);
  background-repeat: no-repeat;
}

.privilege.souvenirs::before {
  background-image: url(img/souvenirs.svg);
  background-repeat: no-repeat;
}

.hotel-search-container {
  max-width:568px;
  margin: 0 auto;
  position: relative;
}


.hotel-search {
  padding-top: 61px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;

}

.offer {
  font-weight: normal;
  line-height: 24px;
  text-align: center;
\
}

.hotel-search-button {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  border:0;
}

.hotel-search-form {
  position: absolute;
  left: 0
  right: 0;
  top: 100%;
  padding-top: 61px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #FFFFFF; 
}

.form-text {
  line-height: 26px;
  display: flex;
  margin-bottom: 35px;

}


.form-text span {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.form-input {
  width: 70%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  background-color: #F2F2F2;

}

.form-input::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}


.adults {
  width: 20%;
}

.children {
  width: 20%;
}

.form-wrapper {
  display: flex;
}

.form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #81B3D2;
  text-transform: uppercase;
  width:100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  border:0;
}

.map-image {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.contacts {
  font-size: 21px;
  line-height: 26px; 
  padding-top: 23px;
  padding-bottom: 36px;
  margin: 0;
}

.contacts-link {
  display: block;
}

.hashtag {
  margin-bottom: 9px;
}

.socials {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}

.socials a {
  background-color: #81B3D2;
  background-repeat: no-repeat;
  padding: 15px;
  margin-right: 6px;
  width: 48px;
  height: 46px;
  display: flex;
}

.copyright {
  margin: 0;
  display: flex;
  align-items: center;
}

.copyright-text {
  margin-right: 8px;
}


.copyright-image {
  padding-top: 38px;
  padding-bottom: 41px;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
}

 .filter-options {
  display: flex;
 }

.filter-group {
  margin-right: 119px;
}


.filter-group-legend {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  display: block;
  padding-bottom: 24px;
}

.hotels-form {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #427b9e;
  min-height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkbox {
  display: flex;
  margin-bottom: 23px;
}

.checkbox input:checked + .checkbox-indicator::before{
  display: block;
}

.checkbox-caption {
  color: #FFFFFF;
}

.checkbox-indicator {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: solid white 1.34px;
  margin-right: 16px;
  position: relative;

}

.checkbox-indicator::before {
  content:"";
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 15px;
  border: 4px solid transparent;
  border-left-color: white;
  border-bottom-color: white;
  transform: rotate(315deg);
   display: none;

}

.price {
  color: #FFFFFF;
}

.price-cell {
  border: solid white 1.5px;
  background-color: transparent;
  display: flex;
  width: 160px;
  align-items: center;
}

.price-filter {
  width: 50%;
  flex-shrink: 0;
  text-align: right;
  padding-right: 5px;
  font-weight: normal;

}

.price-value {
  background-color: transparent;
  border: 0;
  border-left-color: transparent;
  color: #FFFFFF;
  text-align: center;
  min-width: 0;
  text-align: left;
  padding: 8px 8px;
}

.price-wrapper {
  display: flex;
  justify-content: center;
}

.range {
  margin-top: 10px;
}

.range-line {
  position: relative;
  display: flex;
  align-items: center;
  height: 21px;
}

.range-line::before {
  content:"";
  border: none;
  background-color: #FFFFFF; 
  opacity: 0.3;
  color: white; 
  height: 2px; 
  display: block;
  width: 100%;

}

.range-roll {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ABABAB;
  border-radius: 50%;
  border: solid white 8px;
}

.range-roll.first {
  left: 0;

}

.range-roll.second {
left: 80%;
}

.range-wrapper {
  display: flex;
  align-items: center;
}

.range-button {
  padding: 7px 35px;
  background-color: transparent;
  border: solid white 2px;
  font: inherit;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-top: 33px;
}


.results-title {
  font-size: 21px;
  line-height: 26px;
  margin-right: 47px;

}

.hotels-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.section-links {
  display: flex;

}

.section-links-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;

}

.link-active {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #81B3D2;
  margin-right: 32px;

}

.link {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  opacity: 0.3;
  margin-right: 32px;
  border: transparent;
  border-bottom: dotted 1px;
  border-color: #81B3D2;

}




.article-list li {
  border-top: 1px solid red;
}

.hotel {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 7px;
}

.hotel-description {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
}

.hotel-actions {
  margin: 0;
}

.hotel-sizefix {
  display: inline-block;
  min-width: 110px;
  margin-right: 6px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-rating-value {
  margin-top: auto;
  color: #666666;
  background-color: #F2F2F2;
  font-weight: normal;
  min-width: 110px;
  padding: 3px 12px;
  text-align: center;
}

.article-link {
  color: #FFFFFF;
  background-color: #81B3D2;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
}

.alternate {
  background-color:#766357;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
}

.hotel-rating {
  margin-left: auto;
}