*, *::before, *::after {
  box-sizing: border-box;
}


body{
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  color:#333333;;
  background-color: #FFFFFF;; 
}


a {
  text-decoration: none;
  color: inherit; 
}


ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}   

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-links {
  display: flex;

}

.main-navigation-link {
  line-height: 26px;
  padding: 15px;
  display: block;
  text-align: center;

}


.main-navigation-item {
  width: 20%;
  margin-right: auto;
}

.hero {
  background-image: url(img/background-photo.jpg)
}

.hero img {
 display: block; 
 margin: 0 auto;
}

.advantages {
  padding-top: 98px;
}

.advantages-title {
  font-size: 21px;
  width: 40%;
  display: block; 
  margin: 0 auto;
  text-align: center;
  margin-bottom: 42px;
  
}

.section-text {
  font-weight: normal;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap
}

.advantages-item {
  display: flex;

}

.reverse {
  flex-direction: row-reverse;
}

.main-advantage {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.reason {
  font-size: 21px;
  text-align: center;
  display: block; 
  margin: 0 auto;
}


.comment {
  font-weight: normal;
  text-align: center;
}

.number {
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 23px;
  display: block;
  text-align: center;

}

.plus-wrapper {
  display: flex;
  background-color: #EEEEEE;
}

.plus-item {
  width: 30%;
  flex-grow: 1;
  padding: 40px 80px;
}

.plus-item::last-child {
  margin: 0;
}


.advantages-image {
  width: 60%;
  flex-grow: 2;
}

.light {
  display: flex;
}

.privilege-item {
  width: 30%;
  flex-grow: 1;
  padding: 60px 70px; 
}

.privilege::before {
  content:"";
  width: 75px;
  height: 80px;
  background-color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px
}

.privilege.house::before {
  background-image: url(img/house.svg);
  background-repeat: no-repeat;
}

.privilege.food::before {
  background-image: url(img/food.svg);
  background-repeat: no-repeat;
}

.privilege.souvenirs::before {
  background-image: url(img/souvenirs.svg);
  background-repeat: no-repeat;
}

.hotel-search-container {
  max-width:568px;
  margin: 0 auto;
}


.hotel-search {
  padding-top: 61px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;

}

.offer {
  font-weight: normal;
  line-height: 24px;
  text-align: center;
\
}

.hotel-search-button {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  border:0;
}

.hotel-search-form {
  padding-top: 61px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
}

.form-text {
  line-height: 26px;
  display: flex;
  margin-bottom: 35px;

}


.form-text span {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.form-input {
  width: 70%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  background-color: #F2F2F2;

}

.form-input::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}


.adults {
  width: 20%;
}

.children {
  width: 20%;
}

.form-wrapper {
  display: flex;
}

.form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #81B3D2;
  text-transform: uppercase;
  width:100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  border:0;
}

.map-image {
  max-width: 100%;
  display: block;
  height: auto;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.contacts {
  font-size: 21px;
  line-height: 26px; 
  padding-top: 23px;
  padding-bottom: 36px;
  padding-left: 117px;
  margin: 0;
}

.contacts-link {
  display: block;
}

.hashtag {
  margin-bottom: 9px;
}

.socials {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}

.socials a {
  background-color: #81B3D2;
  background-repeat: no-repeat;
  padding: 15px;
  margin-right: 6px;
  width: 48px;
  height: 46px;
  display: flex;
}

.copyright {
  margin: 0;
  display: flex;
  align-items: center;
}

.copyright-image {
  padding-top: 38px;
  padding-bottom: 41px;
}


.hotels-form {
  background-image: url(img/background.jpg);
}

.checkbox-caption {
  color: #FFFFFF;
}

.checkbox-title {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.results-title {
  font-size: 21px;
  line-height: 26px;
}

.section-links-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.link {
  font-size: 12px;
  line-height: 18px;
  color: #81B3D2;
}

.article-list li {
  border-top: 1px solid red;
}

.hotel {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 7px;
}

.hotel-description {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
}

.hotel-actions {
  margin: 0;
}

.hotel-sizefix {
  display: inline-block;
  min-width: 110px;
  margin-right: 6px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-rating-value {
  margin-top: auto;
  color: #666666;
  background-color: #F2F2F2;
  font-weight: normal;
  min-width: 110px;
  padding: 3px 12px;
  text-align: center;
}

.article-link {
  color: #FFFFFF;
  background-color: #81B3D2;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
}

.alternate {
  background-color:#766357;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
}

.hotel-rating {
  margin-left: auto;
}